<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7972b0">  <td>21/06/11 20:15:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.Runner()[pri:0, instance:com.tod.qa.tests.MainTest@42b3b079]">Runner</td> 
  <td>main@1884155890</td>   <td></td> </tr>
<tr bgcolor="7972b0">  <td>21/06/11 20:15:30</td>   <td>-4791</td> <td title="&gt;&gt;MainTest.initialize()[pri:0, instance:com.tod.qa.tests.MainTest@42b3b079]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1884155890</td>   <td></td> </tr>
<tr bgcolor="7972b0">  <td>21/06/11 20:15:51</td>   <td>16441</td> <td title="&lt;&lt;MainTest.tearDown()[pri:0, instance:com.tod.qa.tests.MainTest@42b3b079]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1884155890</td>   <td></td> </tr>
</table>
